<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.edu.jssvc.gezhi.colorlife">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".my.setting.SettingActivity"></activity>
        <activity
            android:name=".my.item3.MyItem3Activity"
            android:launchMode="singleTask" />
        <activity
            android:name=".my.item5.MyItem5Activity"
            android:launchMode="singleTask" />
        <activity
            android:name=".login.LoginActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".register.RegisterActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".home.ContentActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".my.item2.MyItem2Activity"
            android:launchMode="singleTask" />
        <activity
            android:name=".my.follow.MyFollowActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".home.Leibie_Activity"
            android:launchMode="singleTask" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>